/.vscode
/abc.css
/abc.html
/absolutelayout.css
/absolutelayout.html
/amazon_logo.png
/am_files
/box.css
/box.html
/box1.jpg
/box2.jpg
/box3.jpg
/box4.jpg
/box5.jpg
/box6.jpg
/box7.jpg
/box8.jpg
/box_one.jpg
/firebaseConfig.css
/firebaseConfig.html
/first.html
/flexbox.css
/flexbox.html
/font.css
/font.html
/hero_image.jpg
/index.css
/index.html
/media.css
/media.html
/Practice1.css
/practice1.html
/practice2.css
/practice2.html
/practice3.css
/practice3.html
/practice4.css
/practice4.html
/practice5.css
/practice5.html
/practice6.css
/practice6.html
/practice8.css
/practice8.html
/relativelayout.css
/relativelayout.html
/rose.jpg
/square.css
/square.html
/style.css
/transition.css
/transition.html
/units.css
/units.html